<section class="slider img-slider1" id="slider">
  <button class="go-back-slider btn-slider" id="go-back-slider" onclick="previusSlider()"><</button>
  <div class="current-slider">
    <p class="text-slider">Phong cách mùa mới</p>
    <div class="slider-tabs" id="slider-tabs">
      <span class="tab current-tab"></span>
      <span class="tab"></span>
      <span class="tab"></span>
    </div>
  </div>
  <button class="go-next-slider btn-slider" id="go-next-slider" onclick="nextSlider()">></button>
</section>

<section class="news">
  <div class="first">
    <p class="title">Gợi ý phối đồ</p>
    <img src="img/news/goi-y-phoi-do.png">
  </div>
  <div class="second">
    <p class="title">Chọn áo khoác phù hợp thời tiết</p>
    <p class="desc">Tips mặc đẹp hằng ngày</p>
  </div>
  <div class="third">
    <div class="third-anns">
      <img src="img/news/top-ao-thun.png">
      <p class="title">Top áo thun bán chạy tuần này</p>
    </div>
    <div class="third-anns">
      <img src="img/news/watches.png">
      <p class="title">Quần jeans: chọn dáng phù hợp</p>
    </div>
  </div>
</section>

{{> products }}

<script src="js/slider.js"></script>
